* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    height: 100dvh;
    background-image: radial-gradient(burlywood, lightblue);
}

main {
    display: flex;
    column-gap: 5em;
    row-gap: 5em;
    flex-wrap: wrap;
    justify-content: center;
}

#JobsController {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
}

#JobsController>* {
    margin-top: 1.5em;
}

caption {
    font-size: 1.5em;
    font-style: italic;
}

#JobsController>table {
    text-align: right;
}

#JobsController tr {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#JobsController tr>th {
    margin-right: 2em;
}

#controls {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
}

input {
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 15em;
    box-shadow: 0 0 5px black;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.6);
}

input[type=number] {
    appearance: textfield;
}

button {
    outline: none;
    border: none;
    padding: 0.5em;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    width: 5em;
    box-shadow: 0 0 15px black;
    margin-left: 1em;
}

button:focus {
    box-shadow: 0 0 20px white;
}

#JobsTable {
    margin-top: 1.5em;
    text-align: center;
}

#JobsTable>table th,
#JobsTable>table td {
    border: 0.1em solid black;
    padding: 0.5em;
}

#JobsTable>table {
    border-collapse: collapse;
}

#GanttCharts {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    margin-bottom: 3em;
}

#GanttCharts>div {
    border: 4px solid black;
    width: 80dvw;
    height: 200px;
    display: none;
    flex-direction: column;
    font-size: large;
    overflow-x: hidden;
    row-gap: 1em;
    border-radius: 0.5em;
}

.GanttChart {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
}

.GanttChart span {
    font-size: small;
}